/* styles.css */

@font-face {
    font-family: "dnx:test_font";
    /*font-style: italic;*/
    src: url("browser:css/font.ttf");
    font-size: 52px;
}


.title {
    top: 10px;
    left: 0px;
    text-align: center;
    border: 2px cyan;
    padding: 0px;
    text-align-vertical: center;
    padding-left: 10px;
}
}